.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Homepage {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin: 10%;
  padding: 5%;
  background: #9DBAC7;
  color: white;
  box-shadow: inset 3px 3px 10px 2px #2c6181;
}

.Homepage h1 {
  font-size: 3rem;
  margin: 0;
}

.Homepage p {
  margin-bottom: 5%;
}

.orderBtn {
  text-decoration: none;
  background: #2c6181;
  border: 2px solid #2c6181;
  color: white;
  padding: 2%;
  border-radius: 10px;
  font-weight: 900;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.homeLink {
  margin: 2%;
  margin-right: 10%;
  text-decoration: none;
  color: #2c6181;
  font-weight: bold;
}

.heading {
  margin-right: 25%;
  color: #9DBAC7;
}

.form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin: 10%;
  padding: 5%;
  background: #86242a;
  color: white;
  box-shadow: inset 3px 3px 10px 2px #702126;
}

.form input {
  border-radius: 10px;
}